<html xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>로그인</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body th:align="center">
<h1>로그인</h1>
<input type="submit" value="회원 로그인" style="width:230px; background-color:#e9b74d">
<form th:action="@{/managerLogin}" method="get" style="display: inline"> 
	<input type="submit" value="관리자 로그인" style="width:230px">
</form>	

<form th:action="@{/clientLogin}" method="post"> 
<br>
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">				
	<tr>
		<td bgcolor="#00FFFF" th:text="id" width="80">id</td>
		<td><input name="id" type="text" size="50"></td>
	</tr>
	<tr>
		<td bgcolor="#00FFFF" th:text="password">password</td>
		<td><input name="password" type="text" size="50"></td>
	</tr>
</table>
<br>
<a style="color:red">아이디 또는 비밀번호가 잘못 입력 되었습니다.</a>
<br>
<a style="color:red">아이디와 비밀번호를 정확히 입력해주세요.</a>
<br>
<input type="submit" value="로그인" style="width:465px"> 
</form>
<a th:href="@{/menberjoin}">회원가입</a>	
</body>
</html>